body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* transition: all 3s ease-in-out; */
  scroll-behavior: smooth;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hero {
  position: absolute;
  top: 45rem;
  left: 45%;
  width: 10rem;
}

.planet-description {
  position: absolute;
  top: 20rem;
  left: 2rem;
  width: 40rem;
}
